[Desktop Entry]
Type=Application
Name=SakuraMedia
Name[zh_CN]=樱视
GenericName=Media Player
GenericName[zh_CN]=影视播放器
Comment=NAS-oriented media discovery and playback
Comment[zh_CN]=面向 NAS 用户的观影平台
Exec=sakuramedia %U
Icon=io.github.tinypinglite.SakuraMedia
Categories=AudioVideo;Video;Player;Network;
Keywords=media;video;movie;player;nas;
Terminal=false
StartupNotify=true
StartupWMClass=io.github.tinypinglite.SakuraMedia
